<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEFF0FDD1E836BAB008D87A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFF0FF61E836BAC008D87A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFF10011E836BAC008D87A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
